

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.shopname{
  display: flex;
  justify-content: space-around;
  color: rgb(105, 20, 20);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-weight: 400;
  font-style: italic;  
  font-size: 70px;

}
h1 ul{
  display: flex;
  width: 300px;
  justify-content: space-around;
}
h1 ul li{
  list-style: none;
}
nav{
  
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
nav ul{
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ultag li{
  width: max-content;
  list-style: none;


}
.ultag li a{
  text-decoration: none;
  color: #b30000;
  font-size: large;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
}
h3{
  text-align: center;
  text-decoration: underline;
  font-weight: lighter;
  font-family: 'Times New Roman';
}
.carousel-item{
  width: 100%;
  height: 90vh;
}
.category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.category span{
  position: relative;
  top: 50%;
  z-index: 100;
  color: white;
  font-weight: bold;
  
}

.category div img:hover{
  opacity: 0.6 ;
}

.category div{
  width: 200px;
  height: 200px;
  
}
.category div img{
  border-radius: 10px 100px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h3{
  padding: 50px 0px 20px 0px;
}
.Brand{
  width: 95%;
  height: max-content;
  display: flex;
  justify-content:flex-start;
  overflow-x: scroll;
  gap: 35px;
  margin-left: 2.5%;

}
.Brandimg img{
  width: 250px;
  height: 300px;
  border-radius: 10px;
 }

.Brand::-webkit-scrollbar {
  height: 8px;
  width: 70%;  
}

.Brand::-webkit-scrollbar-track {
  border-radius: 10px;
}
 .carousel-item img{
  object-fit: cover;
  width: 100%;
  height: 100%;
 }

.Brand::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
  width: 100px;
}

.Brand::-webkit-scrollbar-track-piece {
  width: 200px;
}

/* Handle on hover */
.Brand::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
  .marqu{
    background-color: #b30000;
    font-weight: lighter;
    color: white;
    padding: 10px 0px;
  }    
h5{
  color: orangered;
}
.Box-pro{
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 30px 10px;
}
h2{
  text-align: center;
  font-family: ' serif';
  text-decoration: underline;
  font-weight: lighter;
}
.list-pro{
  list-style: none;
  align-items: center;
}
.cart-img{
  width: 250px;
  height: 250px;
}
.product{
  width: 250px;
  height: 350px;
  overflow: hidden;
  line-height: 0.7;
  box-shadow: 0px 0px 8px rgb(209, 202, 202);
  border-radius: 8px;
}
.gender{
  font-weight: lighter;
  font-size: medium;
}
.pro-img{
  width: 250px;
  height: 250px;
  
}
.pro-img:hover{
  width: 260px;
  height: 260px;
  transition: 0.5s ease;

}
.product div{
  width: 250px;
  height: 250px;
 overflow: hidden;
}
.product button{
  background-color: red;
  border-radius: 6px;
  position: relative;
  left: 180px;
  top: -30px;
  padding: 8px;
  border: none;
  border-radius: 50%;
}
.product button:hover{
  background-color: black;
  color: white;
  box-shadow: 0px 0px 15px black;
  transition: 0.1s ease-in-out;
  
}
.pro-price{
  color: gray;
  text-align: left;
}
.pro-name{
  font-weight: lighter;
  text-align: left;
}
.brandname{
  text-align: left;
  font-weight: normal;
}
.service-box{
  width: 100%;
  align-items: center;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 240, 240);

}
.service{
  width: 50%;
  height: 50%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(247, 240, 240);
  flex-direction: column;
  
}
.service img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service h4{
  font-size: xx-large;
}
.service p{
  text-align: center;
  font-size: large;
  padding: 0px 20px;
}

.Bottom {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: black;
  
}

.BottomBox {
  text-align: center;
}

.BottomBox h3 {
  font-size: 1.5rem;
  color: gray;
  text-decoration: none;
  font-weight: lighter;
  
}


.BottomBox h6 {
  font-size: 1rem;
  color: #666;
  margin: 8px 0;
}

.BottomBox h6:hover{
  color: white;
  cursor: pointer;
}
.whyheading{
  font-size: 50px;
  padding: 20px 0px;
  text-decoration: none;
}
.whyshop{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.whyshop div{
  width: 45%;
  height: max-content;
  padding: 20px;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.whyshop div h5{
  font-size: xx-large;
}
.whyshop div p{
  font-size: large;
}
.emmailbox{
  width: 100%;
  height: 50vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.emmailbox p{
  color: black;
  font-size: x-large;
}
.emmailbox h4{
  color: black;
  font-size: xx-large;
}
.emmailbox input{
  width: 250px;
  background-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  color: black;
}
@media only screen and (max-width : 700px) {
  nav ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
  }
  .carousel-item{
    width: 100%;
    height: max-content;
  }
  .product{
    width: 170px;
    height: 350px;
    overflow: hidden;
    box-shadow: none;
    line-height: 0px;
  }
  .pro-img{
    width: 200px;
    height: 250px;
    align-items: center;
    
  }
  .service{
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
    background-color: rgb(247, 240, 240);
   
  }
  .product button{
    background-color: red;
    border-radius: 6px;
    position: relative;
    left: 100px;
    top: -30px;
    padding: 5px;
    border-radius: 50%;
    border: none;
  }
}