body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.shopname{
  text-align: center;
  color: rgb(105, 20, 20);
  padding: 10px;
  font-family:  'Times New Roman';
  text-shadow: 2px 3px 5px black;
  font-size: 50px;

}
nav{
  
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
nav ul{
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ultag li{
  width: max-content;
  list-style: none;


}
.ultag li a{
  text-decoration: none;
  color: #b30000;
  font-size: large;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
}
h3{
  text-align: center;
  text-decoration: underline;
  font-weight: lighter;
  font-family: 'Times New Roman';
}
.carousel-item{
  width: 100%;
  height: 90vh;
}
.category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.category span{
  position: relative;
  top: 50%;
  z-index: 100;
  color: white;
  font-weight: bold;
  
}

.category div img:hover{
  opacity: 0.6 ;
}

.category div{
  width: 200px;
  height: 200px;
  
}
.category div img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h3{
  padding: 50px 0px 20px 0px;
}
.Brand{
  width: 95%;
  height: max-content;
  display: flex;
  justify-content:flex-start;
  overflow-x: scroll;
  gap: 15px;
  margin-left: 2.5%;

}
.Brandimg img{
  width: 200px;
  height: 250px;
  border-radius: 10px;
 }

.Brand::-webkit-scrollbar {
  height: 8px;
  width: 70%;  
}

.Brand::-webkit-scrollbar-track {
  border-radius: 10px;
}
 

.Brand::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
  width: 100px;
}

.Brand::-webkit-scrollbar-track-piece {
  width: 200px;
}

/* Handle on hover */
.Brand::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
           */
h5{
  color: orangered;
}
.Box-pro{
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding: 30px 10px;
}
h2{
  text-align: center;
  font-family: ' serif';
  text-decoration: underline;
  font-weight: lighter;
}
.list-pro{
  list-style: none;
  align-items: center;
}
.cart-img{
  width: 200px;
  height: 200px;
}
.product{
  width: 250px;
  height: 350px;
  overflow: hidden;
  line-height: 0.7;
  box-shadow: 0px 0px 8px rgb(209, 202, 202);
  border-radius: 8px;

}
.gender{
  font-weight: lighter;
  font-size: medium;
}
.pro-img{
  width: 250px;
  height: 250px;
  
}
.pro-img:hover{
  width: 260px;
  height: 260px;
  transition: 0.5s ease;

}
.product div{
  width: 250px;
  height: 250px;
 overflow: hidden;
}
.product button{
  background-color: red;
  border-radius: 6px;
  position: relative;
  left: 130px;
  top: -20px;
  padding: 8px;
  border: none;
}
.product button:hover{
  background-color: black;
  color: white;
  
}
.pro-price{
  color: gray;
  text-align: left;
}
.pro-name{
  font-weight: lighter;
  text-align: left;
}
.brandname{
  text-align: left;
  font-weight: normal;
}
.service-box{
  width: 100%;
  align-items: center;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 240, 240);

}
.service{
  width: 50%;
  height: 50%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(247, 240, 240);
  flex-direction: column;
  
}
.service img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* App.css */

.Bottom {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: black;
}

.BottomBox {
  text-align: center;
}

.BottomBox h3 {
  font-size: 1.5rem;
  color: gray;
  text-decoration: none;
  font-weight: lighter;
}

.BottomBox h6 {
  font-size: 1rem;
  color: #666;
  margin: 8px 0;
}

.BottomBox h6:hover{
  color: white;
  cursor: pointer;
}

/* Adjust styles as needed */